{:pom {:group-id "org.danielsz"
       :artifact-id "bioscoop"
       :version "1.0.0"
       :name "bioscoop"}
 :packaging {:uberjar
             {:enabled true
              :build-properties {:main-class "bioscoop.core"}
              :excludes {:artifacts ["org.clojure:google-closure-library" "com.google.javascript:closure-compiler"]
                         :filters ["META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
              :include-source false
              :obfuscation {:enabled false}}
             :jar {:enabled false}}
 :interactive {:enabled true
               :reload-on-save true
               :repl-port :auto
               :repl-host "127.0.0.1"
               :repl-unix-socket "nrepl.socket"}}
