{:pom {:group-id "com.github.danielsz"
       :artifact-id "bioscoop"
       :version "1.1.2"
       :name "bioscoop"
       :licenses [{:name "MIT License"
                   :url "https://mit-license.org/"}]}
 :packaging {:uberjar
             {:enabled true
              :build-properties {:main-class "bioscoop.core"}
              :excludes {:artifacts ["org.clojure:google-closure-library" "com.google.javascript:closure-compiler"]
                         :filters ["META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
              :include-source false
              :obfuscation {:enabled false}
              :resources {:filtering {:enabled true
                                      :directories [{:directory "resources"
                                                     :filtering {:enabled true
                                                                 :includes ["version.txt"]}}]}}
              :graalvm {:enabled true
                        :build-args ["--initialize-at-build-time=org.slf4j,ch.qos.logback" "--enable-sbom=false" "--verbose" "--no-fallback" "-H:IncludeResources=version.txt"]
                        :agent {:enabled false
                                :filter {:rules [{:excludeClasses "clojure.**"}
                                                 {:includeClasses "clojure.lang.Reflector"}]}}
                        :graal-build-time {:enabled true}}
              :exec {:enabled true
                     :executions [{:id "unlock-keychain"
                                   :goals ["exec"]
                                   :phase "prepare-package"
                                   :executable "security"
                                   :arguments ["unlock-keychain" "-p" "${keychain.password}" "${user.home}/Library/Keychains/login.keychain-db"]
                                   :skip "${skip.exec}"}
                                  {:id "sign-native-binaries"
                                   :goals ["exec"]
                                   :phase "verify"
                                   :executable "codesign"
                                   :arguments ["--timestamp"  "--options" "runtime" "--force" "--sign" "${mac.signing.identity}" "${project.build.directory}/${project.artifactId}"]
                                   :skip "${skip.exec}"}
                                  {:id "zip"
                                   :goals ["exec"]
                                   :phase "verify"
                                   :executable "ditto"
                                   :arguments ["-c" "-k" "--keepParent" "bioscoop" "bioscoop.zip"]
                                   :skip "${skip.exec}"}
                                  {:id "notarize"
                                   :goals ["exec"]
                                   :phase "verify"
                                   :executable "xcrun"
                                   :arguments ["notarytool" "submit"
                                               "${project.build.directory}/${project.artifactId}.zip"
                                               "--apple-id" "${notarization.apple.id}"
                                               "--password" "${notarization.password}"
                                               "--team-id" "${notarization.team.id}" "--wait"]
                                   :skip "${skip.exec}"}]}}
             :jar {:enabled false}}
 :interactive {:enabled true
               :clojure-vmargs "-Djdk.attach.allowAttachSelf"
               :reload-on-save true
               :repl-port :auto
               :repl-host "127.0.0.1"}
 :testing {:enabled true}
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}
 :profiles {:enabled true
            :os {:windows {:skip-exec "true"}
                 :mac {:skip-exec "false"}
                 :unix {:skip-exec "true"}}}}
