{:pom {:group-id "com.github.danielsz"
       :artifact-id "bioscoop"
       :version "1.0.6"
       :name "bioscoop"
       :licenses [{:name "MIT License"
                   :url "https://mit-license.org/"}]}
 :packaging {:uberjar
             {:enabled true
              :build-properties {:main-class "bioscoop.core"}
              :excludes {:artifacts ["org.clojure:google-closure-library" "com.google.javascript:closure-compiler"]
                         :filters ["META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
              :include-source false
              :obfuscation {:enabled false}
              :resources {:filtering {:enabled true
                                      :directories [{:directory "resources"
                                                     :filtering {:enabled true
                                                                 :includes ["version.txt"]}}]}}
              :graalvm {:enabled true
                        :build-args ["--initialize-at-build-time=org.slf4j,ch.qos.logback" "--verbose" "--no-fallback" "-H:IncludeResources=version.txt"]
                        :agent {:enabled false
                                :filter {:rules [{:excludeClasses "clojure.**"}
                                                 {:includeClasses "clojure.lang.Reflector"}]}}
                        :graal-build-time {:enabled true}}}
             :jar {:enabled true}}
 :interactive {:enabled true
               :clojure-vmargs "-Djdk.attach.allowAttachSelf"
               :reload-on-save true
               :repl-port :auto
               :repl-host "127.0.0.1"}
 :testing {:enabled true}
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}}
